@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container-self{
    max-width: 73rem; /* 1168px*/
    margin: 0 auto;
}

.mulish-font{
    font-family: "Mulish", sans-serif;
}

.inter-font{
    font-family: "Inter", sans-serif;
}

.new-cont:hover{
    border: 1px solid rgb(121, 125, 252);
}
.gradient_text{
    background: black;
    background: linear-gradient(to right, #3796f5 0%, #1e90ff 50%, #083b6e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-container {
    position: relative;
    width: 300px; /* or any desired width */
    
}
  
.search-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Make room for the button */
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
}
  
.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background: #797DFC;
    color: #fff;
    border-radius: 0 50px 50px 0;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
}

.active_status {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100px;
    /* success/500 */
    background: rgb(16, 185, 129);
    width: 17px;
    height: 17px;
    position: absolute;
    top: -6px;
    right: -6px;
}
.deactive_status {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100px;
    background: rgb(255, 52, 52);
    width: 17px;
    height: 17px;
    position: absolute;
    top: -6px;
    right: -6px;
}

.deshe-border{
    border: 1px dashed rgba(18, 19, 45, 0.25);
}

footer{
    background: linear-gradient(180.00deg, rgba(18, 19, 45, 0.05),rgba(18, 19, 45, 0) 100%);
}